.container {
  max-width: 60vw;
  margin: 10px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: burlywood;
  border-radius: 15px;
}

@media (max-width: 500px) {
  .container {
    min-width: 300px;
  }
}