.inp {
  padding: 10px;
  width: 250px;
  height: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid rgb(32, 29, 16);
  background-color: rgb(233, 208, 125);
}

.inp:focus {
  outline: none;
}